# Go Backend Configuration
PORT=<PORT_VALUE>

# Database Connection (PostgreSQL)
DATABASE_URL=<DATABASE_URL_VALUE>

# Local Storage for Uploads
STORAGE_DIR=<STORAGE_DIR_VALUE>

# Security
BACKEND_SECRET=<BACKEND_SECRET_VALUE>

GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID_VALUE>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET_VALUE>
